body {
	font-family: Verdana, sans-serif;
	background-color: #E0FEFF;
	background-image: url("polka-dots.png");
	background-repeat: repeat;
}
h1 {
	font-family: 'Satisfy', Verdana, sans-serif;
	font-size: 110px;
	color: #FFFFFF;
	text-align: center;
	background-color: #DDDDDD;
	padding: 10px;
	border: 7px solid #FFFFFF;
	width: 900px;
	min-width: 400px;
	max-width: 100%;
	margin: 60px auto 60px auto;
}
p, .guessesLeft {
	font-family: 'Roboto Slab', serif;
	font-size: 20px;
	color: #555555;
	display: inline;
	margin: 20px 0px 20px 0px;
}

label {
	font-family: 'Satisfy', serif;
	font-size: 60px;
	font-weight: bold;
	color: #EEEEEE;
	padding: 20px 0px 20px 0px;
}
input[type=number] {
	width: 200px;
	height: 65px;
	font-family: 'Roboto Slab', serif;
	font-size: 60px;
	margin: 10px 0 10px 0;
	text-align: center;
	color: #BBBBBB;
	border: 2px solid #BBBBBB;
	border-radius: 10px;
	padding-left: 20px;
}
/* From Google Fonts API */
.font-effect-outline {
  text-shadow:0 1px 1px #555, 0 -1px 1px #555, 1px 0 1px #555, -1px 0 1px #555;
  color: #000000;
}
.guessform {
	background-color: #FFFFFF;
	border: 7px solid #DDDDDD;
	padding: 30px;
	width: 1200px;
	min-width: 400px;
	max-width: 100%;
	margin: 0 auto 0 auto;
	text-align: center;
}
button[class=littlebtn] {
	border: 2px solid #BBBBBB;
	border-radius: 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	height: 40px;
	width: 120px;
	text-align: center;
	background-color: #FFFFFF;
	color: #777777;
	margin: 20px 10px 20px 10px;
}
button[class=bigbtn] {
	border: 2px solid #BBBBBB;
	border-radius: 10px;
	font-family: 'Roboto Slab', serif;
	font-size: 24px;
	height: 60px;
	width: 180px;
	text-align: center;
	background-color: #FFFFFF;
	color: #777777;
	margin: 10px 10px 20px 10px;
}
button:hover {
	background-color: #EEEEEE;
}
button:active {
	background-color: #444444;
	color: #999999;
}
.ui-dialog {
	background-color: #FFFFFF;
	border: 3px solid #BBBBBB;
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
	text-align: center;
	height: 50px;
}
.ui-dialog-content {
	color: #777777;
}
.ui-dialog-titlebar {
	height: 20px;
}






















